{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SAHIFA</title>
    

</head>

<body>
  


    {% for i in category %}

    {% if i.id == category_id  %}
    
    {% for cats in i.sub_category.all  %}
    
    <a href="{% url 'sub_category'%}"><h3>{{cats.name}}</h3></a>
    
    {% endfor %}

    {% endif %}
    
    {% endfor %}
    
    
    
 
</body>

</html>