{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Expense</title>
</head>
<body>
    
    <h2>Today's Expenses</h2>
    
        {% for i in daily_consumption %}
        
            <li>{{ i.description }} - {{ i.cost }}</li>
        
        {% endfor %}
    
    <p>Total Today's Cost: {{ total_daily_cost }}</p>

    <h2>Monthly is</h2>
    
        {% for i in monthly_consumption %}

            <li>{{ i.description }} - {{ i.cost }}</li>

        {% endfor %}
    
    <p>Total Monthly Cost: {{ total_monthly_cost }}</p>

</body>
</html>
