

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SAHIFA</title>
</head>

<body>

<h1>Sub Category: {{ sub_category.name }}</h1>

{% for i in consumption %}
    <div>
      <h2>Name: {{ i.name }}</h2>
      <p>Info: {{ i.info }}</p>
      <p>Cost: {{ i.cost }}</p>
      <p>Time: {{ i.time }}</p>
    </div>
{% endfor %}
<h3>Total Cost for <span style="background-color:green;">{{ sub_category.name }}</span>: {{ total_cost }}</h3>


</body>

</html>

