{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>WEB SAHIFA</title>
  

</head>

<body>
{%for sub_category in sub_categoris %}

<a href="#"><h3>{{sub_category.name}} --- {{ sub_category.id }}</h3></a>

{% endfor %}

{% comment %} sub_category ni detail ga ulash 
sub_category da xamma category korinishi
detailda sum qilib olish hamma consumption lardi {% endcomment %}
</body>

</html> 